<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
    <title></title>
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/global.css" />
</head>
<body>
<div id="header"></div>
<div id="lineInfo" class="bs-line-map">

</div>
<div class="bs-table">
    <div class="bs-table-cont f-cbli">
        <ul id="stationList" class="bs-cate station-cate bs-cate-btn">

        </ul>
    </div>
</div>
</body>
<script data-main="../scripts/page/station" src="../bower_components/requirejs/require.js"></script>
</html>