<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
    <title></title>
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/global.css" />
</head>
<body>
<div id="header"></div>
<div id="lineInfo" class="bs-line-map">

</div>
<div class="bs-table">
    <div class="bs-table-tit bs-li-wp33 f-cbli">
        <ul>
            <li>站点</li>
            <li>换乘</li>
            <li>首末班车</li>
        </ul>
    </div>
    <div id="lineList" class="bs-table-cont bs-li-wp33 f-cbli">

    </div>
</div>
</body>
<script data-main="../scripts/page/line" src="../bower_components/requirejs/require.js"></script>
</html>