<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
    <title></title>
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/global.css" />
</head>
<body>
<div id="header"></div>
<div class="bs-table">
    <div id="PassLines" class="bs-table-tab bs-li-wp50 f-cbli">

    </div>

    <div id="lineListUp" class="bs-table-cont f-cbli">

    </div>
    <div id="lineListDown" class="bs-table-cont f-cbli">

    </div>
    <div class="bs-table-cont f-cbli" style="display:none;">
        <ul id="stationList" class="bs-cate station-cate bs-cate-btn">

        </ul>
    </div>
</div>
</body>
<script data-main="../scripts/page/timeList" src="../bower_components/requirejs/require.js"></script>
</html>